    <div data-controller="video-preview">
        <%= form_with(model: model, class: "space-y-6", local: true, data: { turbo: false } ) do |f| %>
            <%= render_form_fields(f,columns) %>
            
            <%= render_nested_post_fields(f) %>
            <%= render partial: "shared/submit_btn", locals: {btn_label: btn_label, f: f} %>
        <% end %>
    </div>
