<%# app/views/shared/_form_wrapper.html.erb %>
<div class="max-w-md mx-auto mt-10 p-8 bg-white rounded-2xl shadow-xl border border-gray-100 mb-20">
  <h2 class="text-2xl font-black mb-8 text-center text-gray-800 tracking-tight">
    <%= title %>
  </h2>

  <%= yield %>
</div>
