<% if pagy.next %>
  <%= turbo_frame_tag "pagination", 
                      src: pagy_url_for(pagy, pagy.next), 
                      loading: "lazy" do %>
    <div class="py-10 text-center text-slate-400 font-bold">さらに読み込み中...</div>
  <% end %>
<% end %>
